# dependencies
node_modules/
**/node_modules/

# build
dist/
**/dist/
# build/
# **/build/

# environment variables
.env
**/.env

# cache
.cache/
.vite/
**/.cache/
**/.vite/

# ignore backend server
# server/
# **/server/

